.form-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem; /* space-y-6 */

	.input-group {
		display: flex;
		flex-direction: column;
	}

	.input-label {
		font-size: 0.875rem; /* text-sm */
		font-weight: 500; /* font-medium */
		line-height: 1.5; /* leading-normal */
		padding-bottom: 0.5rem; /* pb-2 */
		color: var(--text-slate-800);
	}
}
