.password-container {
	position: relative;
	display: flex;
	width: 100%;
	align-items: stretch;

	.password-input {
		padding-right: 3rem;
	}
	.toggle-password {
		position: absolute;
		right: 0;
		top: 0;
		height: 3rem;
		width: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--color-text-muted);
		cursor: pointer;
		transition: color 0.2s;
		background: none;
		border: none;
	}
	.toggle-password:hover {
		color: var(--color-primary);
	}
}